@font-face {
  font-family: "playfair";
  src: url(PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Roboto-Light";
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: "BerkshireSwash";
  src: url(BerkshireSwash-Regular.ttf);
}
@font-face {
  font-family: "crimson";
  src: url(Crimson-Italic.ttf);
}
html {
  scroll-behavior: smooth;
}
:root {
  --backgroundColor: #07151c;
  --cardColor: #132a35;
  --copyright: #749762;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--backgroundColor) !important;
}
.container-fluid {
  padding: 0% !important;
}
header {
  background-color: black;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 999;
}
.container-x {
  max-width: 1400px;
  margin: 0 auto;
}
.three-bars-icon {
  width: 2rem;
  height: 2rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 6px 4px;
  background-color: inherit;
}
.bars-line-one {
  height: 1px;
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: white;
}
.nav-link,
.navbar-brand {
  color: white;
  cursor: pointer;
}
.nav-item a:hover {
  color: white;
  text-decoration: underline !important;
}
.nav-div a:hover,
.nav-div a:focus {
  color: rgb(67, 102, 201);
  background-color: rgb(39, 39, 39) !important;
  text-decoration: underline !important;
}
.nav-link {
  margin-right: 1em !important;
  padding: 1rem 1rem !important;
}
.navbar-nav {
  display: block !important;
  align-items: center;
}
.navbar-collapse {
  justify-content: flex-end;
}
main {
  background-color: black;
}
.backgroundimg {
  background-color: rgba(0, 0, 0, 0.897);
  background: url(laptop.png);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: -100px top;
}
.description {
  background-color: #000000b5;
}
.description h1 {
  text-shadow: 2px 2px 4px #771616;
  width: 80%;
  font-family: playfair, poppins-light, Roboto, sans-serif;
  font-size: 12vw;
  color: rgb(241 228 51);
  padding: 35px 0px 0px;
  margin: 0 auto;
}
@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.description p {
  margin: 0 auto;
  color: #c9c9c9;
  line-height: 1.6;
  font-size: 1.6rem;
  width: 80%;
  font-family: playfair, Roboto sans-serif;
}
.slide-anim {
  animation: slideIn 2s 50ms 1;
}
.hide-des {
  visibility: hidden;
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(3000px);
    transform: translateX(3000px);
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translateX(3000px);
    transform: translateX(3000px);
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translateX(-3000px);
    transform: translateX(-3000px);
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translateX(-3000px);
    transform: translateX(-3000px);
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.contact {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
.contact-me {
  color: white !important;
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  padding: 0.6rem 0rem !important;
  width: 80%;
}
.cm-blue {
  border: 1px solid #001a75 !important;
  background-color: #051344 !important;
}
.cm-green {
  background-color: #196519 !important;
  border: 1px solid #196519 !important;
}
.slide-in-left {
  animation: bounceInLeft 2000ms 0s 1;
}
.slide-in-right {
  animation: bounceInRight 2000ms 0s 1;
}
.cm-blue:hover, .cm-blue:focus {
  background-color: #196519 !important;
  border: 1px solid #196519 !important;
}
.cm-green:hover, .cm-green:focus {
  background-color: #051344 !important;
  border: 1px solid #001a75 !important;
}
.show {
  display: block;
}
.hd {
  display: none;
}
.hide { display: none }
.sh {
  display: block;
  box-shadow: #9ac2e3 1px 2px 4px 1px;
}
.normalize-height {
  height: 125px;
  background: linear-gradient(0deg, #000000 50px, gainsboro 800px);
}
.background {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-family: 'Roboto-light', sans-serif;
}
.skills {
  font-family: playfair, sans-serif;
  font-size: 2.5rem;
  color: #ada83c;
  vertical-align: middle;
}
.background small {
  color: #d6d8da;
}
.skill-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.project-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card1 {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #132a35;
  border-radius: 15px;
  padding: 10px;
  margin: 60px 10px;
}
.card1 img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card1 h2 {
  letter-spacing: 1px;
  color: rgb(221, 221, 221) !important;
  font-size: 1.6rem;
  font-weight: bold;
}
.list li, .card1 h2 {
  font-family: BerkshireSwash, "Roboto-light", sans-serif;
}
.list-grid {
  display: grid;
  grid-template-columns: 20px 80%;
  margin-top: 1rem;
}
.list {
  list-style-type: none;
}
.horizontalline {
  width: 1px;
  margin-right: 19px;
  background-color: #6eb2ba;
  height: 100%;
  border: none;
  border-radius: 50px;
}
.lis {
  padding: 10px 0px;
}
.lis div {
  display: flex;
}
.list li, .card1 p {
  font-size: 1rem;
  line-height: 200%;
  color: #bbbbbb;
}
.fa-check {
  color: #1ca01c;  
  margin-top: 10px;
  margin-right: 10px;
  
}
.card1 p {
  color: #6eb2ba;
  font-family: "Roboto", "Open Sans", sans-serif;
}
.card1 a  {
  display: inline-block;
  width: 70%;
  font-weight: 500;
  background-color: #196519;
  color: #ffffff !important;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 10px 0px;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 1.1rem;
  transition: 0.5s ease;
}
.card1 a:hover, .card1 a:focus {
  background-color: var(--backgroundColor);
  color: white;
}
.contact-div {
  display: inline-block;
  width: 2.5rem;
  position: fixed;
  top: 50vh;
  left: 0;
  z-index: 99;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.contact-div button {
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  opacity: 0.7;
  color: white;
}
.contact-div button:hover, .contact-div button:focus, .bottom-contact button:hover, .bottom-contact button:focus {
  color: rgb(147, 20, 220) !important;
}
.contact-form-div {
  font-family: "crimson", "Roboto-light", 'Roboto', sans-serif;
  font-size: 18px;
  color: #e3e3e3;
  padding: 10px;
  max-width: 768px;
}
.contact-form-div input, .contact-form-div textarea {
  font-size: 14px;
  color: #e3e3e3;
  background-color: #00000000;
  border: 1px solid #6e6e6e !important;
}
.contact-form-div input:focus, .contact-form-div textarea:focus {
  background-color: initial;
  color: #e3e3e3;
  font-family: Roboto, sans-serif;
  box-shadow: 0 0 0 0.2rem rgba(196, 196, 196, 0.25);
}

.contact-form-div button {
  width: 50%;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  max-width: 300px !important;
}
footer {
  border: none;
  border-top: 1px solid gray;
  margin-top: 120px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.signal-div {
  position: fixed;
  bottom: 5px;
  left: 0.25rem;
  font-size: 25px;
  color: #c7c7c7;
}
.bottom-contact {
  text-align: center;
}
.bottom-contact button {
  margin-right: 10px;
  color: #c7c7c7;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  background-color: #04040459;
  color: #506759;
  border: 1px solid #132f25;
  padding: 10px;
}
.back-to-top:hover {
  color: white !important;
}
footer small {
  display: block;
  width: 11rem;
  margin-top: 2rem;
  font-size: 12px;
  color: #749762
}
@media screen and (min-width: 500px) {
  .description h1 {
    font-size: 4rem;
  }
  .description p {
    font-size: 2rem;
  }
  .skills {
    font-size: 3.5rem;
  }
  .card1 a {
    padding: 15px 0px;
  }
}
@media screen and (min-width: 690px) {
  .backgroundimg {
    background-size: 100%;
    background-position: 0px -50px;
  }
  .contact-me {
    width: 280px;
  }
}
@media screen and (min-width: 760px) {
  .navbar-nav {
    display: flex !important;
  }
  .description h1 {
    padding: 100px 10px 30px;
    padding-bottom: 0px;
  }
  .contact-me {
    padding: 0.8rem 4rem !important;
  }
  .hd {
    display: block;
  }
  .sh {
    display: none !important;
  }
  .skills {
    font-size: 4.5rem;
  }
  .list li {
    font-size: 1.2rem;
  }
  .contact-form-div {
    font-size: 20px;
  }
  .contact-form-div input, .contact-form-div textarea {
    padding: 1.375rem 0.75rem;
  }
  footer small {
    width: auto;
    font-size: 14px;
    margin-bottom: 2rem;
    display: ms;
  }
}
@media screen and (min-width: 1000px) {
  .description h1 {
    font-size: 5rem;
  }
  .card1 {
    grid-column: span 1;
  }
}
@media screen and (min-width: 1300px) {
  .backgroundimg {
    background: rgba(0, 0, 0, 0.897);
  }
}

.fa-file-text-o:before { content:"\f0f6" } .fa-building-o:before { content:"\f0f7" } .fa-hospital-o:before { content:"\f0f8" } .fa-ambulance:before { content:"\f0f9" } .fa-medkit:before { content:"\f0fa" } .fa-fighter-jet:before { content:"\f0fb" } .fa-beer:before { content:"\f0fc" } .fa-h-square:before { content:"\f0fd" } .fa-plus-square:before { content:"\f0fe" } .fa-angle-double-left:before { content:"\f100" } .fa-angle-double-right:before { content:"\f101" } .fa-angle-double-up:before { content:"\f102" } .fa-angle-double-down:before { content:"\f103" } .fa-angle-left:before { content:"\f104" } .fa-angle-right:before { content:"\f105" } .fa-angle-up:before { content:"\f106" } .fa-angle-down:before { content:"\f107" } .fa-desktop:before { content:"\f108" } .fa-laptop:before { content:"\f109" } .fa-tablet:before { content:"\f10a" } .fa-mobile-phone:before, .fa-mobile:before { content:"\f10b" } .fa-circle-o:before { content:"\f10c" } .fa-quote-left:before { content:"\f10d" } .fa-quote-right:before { content:"\f10e" } .fa-spinner:before { content:"\f110" } .fa-circle:before { content:"\f111" } .fa-mail-reply:before, .fa-reply:before { content:"\f112" } .fa-github-alt:before { content:"\f113" } .fa-folder-o:before { content:"\f114" } .fa-folder-open-o:before { content:"\f115" } .fa-smile-o:before { content:"\f118" } .fa-frown-o:before { content:"\f119" } .fa-meh-o:before { content:"\f11a" } .fa-gamepad:before { content:"\f11b" } .fa-keyboard-o:before { content:"\f11c" } .fa-flag-o:before { content:"\f11d" } .fa-flag-checkered:before { content:"\f11e" } .fa-terminal:before { content:"\f120" } .fa-code:before { content:"\f121" } .fa-mail-reply-all:before, .fa-reply-all:before { content:"\f122" } .fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before { content:"\f123" } .fa-location-arrow:before { content:"\f124" } .fa-crop:before { content:"\f125" } .fa-code-fork:before { content:"\f126" } .fa-unlink:before, .fa-chain-broken:before { content:"\f127" } .fa-question:before { content:"\f128" } .fa-info:before { content:"\f129" } .fa-exclamation:before { content:"\f12a" } .fa-superscript:before { content:"\f12b" } .fa-subscript:before { content:"\f12c" } .fa-eraser:before { content:"\f12d" } .fa-puzzle-piece:before { content:"\f12e" } .fa-microphone:before { content:"\f130" } .fa-microphone-slash:before { content:"\f131" } .fa-shield:before { content:"\f132" } fa-calendar-o:before { content:"\f133" } .fa-fire-extinguisher:before { content:"\f134" } .fa-rocket:before { content:"\f135" } .fa-maxcdn:before { content:"\f136" } 
.fa-chevron-circle-left:before { content:"\f137" } 
.fa-chevron-circle-right:before { content:"\f138" } 
.fa-chevron-circle-up:before { content:"\f139" } 
.fa-chevron-circle-down:before { content:"\f13a" } .fa-html5:before { content:"\f13b" } .fa-css3:before { content:"\f13c" } .fa-anchor:before { content:"\f13d" } .fa-unlock-alt:before { content:"\f13e" } .fa-bullseye:before { content:"\f140" } .fa-ellipsis-h:before { content:"\f141" } .fa-ellipsis-v:before { content:"\f142" } .fa-rss-square:before { content:"\f143" } .fa-play-circle:before { content:"\f144" } .fa-ticket:before { content:"\f145" } .fa-minus-square:before { content:"\f146" } .fa-minus-square-o:before { content:"\f147" } .fa-level-up:before { content:"\f148" } .fa-level-down:before { content:"\f149" } .fa-check-square:before { content:"\f14a" } .fa-pencil-square:before { content:"\f14b" } .fa-external-link-square:before { content:"\f14c" } .fa-share-square:before { content:"\f14d" } .fa-compass:before { content:"\f14e" } .fa-toggle-down:before, .fa-caret-square-o-down:before { content:"\f150" } .fa-toggle-up:before, .fa-caret-square-o-up:before { content:"\f151" } .fa-toggle-right:before, .fa-caret-square-o-right:before { content:"\f152" } .fa-euro:before, .fa-eur:before { content:"\f153" } .fa-gbp:before { content:"\f154" } .fa-dollar:before, .fa-usd:before { content:"\f155" } .fa-rupee:before, .fa-inr:before { content:"\f156" } .fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before { content:"\f157" } .fa-ruble:before, .fa-rouble:before, .fa-rub:before { content:"\f158" } .fa-won:before, .fa-krw:before { content:"\f159" } .fa-bitcoin:before, .fa-btc:before { content:"\f15a" }.fa-file:before { content:"\f15b" } .fa-file-text:before { content:"\f15c" } .fa-sort-alpha-asc:before { content:"\f15d" } .fa-sort-alpha-desc:before { content:"\f15e" } .fa-sort-amount-asc:before { content:"\f160" } .fa-sort-amount-desc:before { content:"\f161" } .fa-sort-numeric-asc:before { content:"\f162" } .fa-sort-numeric-desc:before { content:"\f163" } .fa-thumbs-up:before { content:"\f164" } .fa-thumbs-down:before { content:"\f165" } .fa-youtube-square:before { content:"\f166" } .fa-youtube:before { content:"\f167" } .fa-xing:before { content:"\f168" } .fa-xing-square:before { content:"\f169" } .fa-youtube-play:before { content:"\f16a" } .fa-dropbox:before { content:"\f16b" } .fa-stack-overflow:before { content:"\f16c" } .fa-instagram:before { content:"\f16d" } .fa-flickr:before { content:"\f16e" } .fa-adn:before { content:"\f170" } .fa-bitbucket:before { content:"\f171" } .fa-bitbucket-square:before { content:"\f172" } .fa-tumblr:before { content:"\f173" } .fa-tumblr-square:before { content:"\f174" } .fa-long-arrow-down:before { content:"\f175" } .fa-long-arrow-up:before { content:"\f176" } .fa-long-arrow-left:before { content:"\f177" } .fa-long-arrow-right:before { content:"\f178" } .fa-apple:before { content:"\f179" } .fa-windows:before { content:"\f17a" } .fa-android:before { content:"\f17b" } .fa-linux:before { content:"\f17c" } .fa-dribbble:before { content:"\f17d" } .fa-skype:before { content:"\f17e" } .fa-foursquare:before { content:"\f180" } .fa-trello:before { content:"\f181" } .fa-female:before { content:"\f182" } .fa-male:before { content:"\f183" } .fa-gittip:before, .fa-gratipay:before { content:"\f184" } .fa-sun-o:before { content:"\f185" } .fa-moon-o:before { content:"\f186" } .fa-archive:before { content:"\f187" } .fa-bug:before { content:"\f188" } .fa-vk:before { content:"\f189" } .fa-weibo:before { content:"\f18a" } .fa-renren:before { content:"\f18b" } .fa-pagelines:before { content:"\f18c" } .fa-stack-exchange:before { content:"\f18d" } .fa-arrow-circle-o-right:before { content:"\f18e" } .fa-arrow-circle-o-left:before { content:"\f190" } .fa-toggle-left:before, .fa-caret-square-o-left:before { content:"\f191" } .fa-dot-circle-o:before { content:"\f192" } .fa-wheelchair:before { content:"\f193" } .fa-vimeo-square:before { content:"\f194" } .fa-turkish-lira:before, .fa-try:before { content:"\f195" } .fa-plus-square-o:before { content:"\f196" } .fa-space-shuttle:before { content:"\f197" } .fa-slack:before { content:"\f198" } .fa-envelope-square:before { content:"\f199" } .fa-wordpress:before { content:"\f19a" } .fa-openid:before { content:"\f19b" } .fa-institution:before, .fa-bank:before, .fa-university:before { content:"\f19c" } .fa-mortar-board:before, .fa-graduation-cap:before { content:"\f19d" } .fa-yahoo:before { content:"\f19e" } .fa-google:before { content:"\f1a0" } .fa-reddit:before { content:"\f1a1" } .fa-reddit-square:before { content:"\f1a2" } .fa-stumbleupon-circle:before { content:"\f1a3" } .fa-stumbleupon:before { content:"\f1a4" } .fa-delicious:before { content:"\f1a5" } .fa-digg:before { content:"\f1a6" } .fa-pied-piper-pp:before { content:"\f1a7" } .fa-pied-piper-alt:before { content:"\f1a8" } .fa-drupal:before { content:"\f1a9" } .fa-joomla:before { content:"\f1aa" } .fa-language:before { content:"\f1ab" } .fa-fax:before { content:"\f1ac" } .fa-building:before { content:"\f1ad" } .fa-child:before { content:"\f1ae" } .fa-paw:before { content:"\f1b0" } .fa-spoon:before { content:"\f1b1" } .fa-cube:before { content:"\f1b2" } .fa-cubes:before { content:"\f1b3" } .fa-behance:before { content:"\f1b4" } .fa-behance-square:before { content:"\f1b5" } .fa-steam:before { content:"\f1b6" } .fa-steam-square:before { content:"\f1b7" } .fa-recycle:before { content:"\f1b8" } .fa-automobile:before, .fa-car:before { content:"\f1b9" } .fa-cab:before, .fa-taxi:before { content:"\f1ba" } .fa-tree:before { content:"\f1bb" } .fa-spotify:before { content:"\f1bc" } .fa-deviantart:before { content:"\f1bd" } .fa-soundcloud:before { content:"\f1be" } .fa-database:before { content:"\f1c0" } .fa-file-pdf-o:before { content:"\f1c1" } .fa-file-word-o:before { content:"\f1c2" } .fa-file-excel-o:before { content:"\f1c3" } .fa-file-powerpoint-o:before { content:"\f1c4" } .fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before { content:"\f1c5" } .fa-file-zip-o:before, .fa-file-archive-o:before { content:"\f1c6" } .fa-file-sound-o:before, .fa-file-audio-o:before { content:"\f1c7" } .fa-file-movie-o:before, .fa-file-video-o:before { content:"\f1c8" } .fa-file-code-o:before { content:"\f1c9" } .fa-vine:before { content:"\f1ca" } .fa-codepen:before { content:"\f1cb" } .fa-jsfiddle:before { content:"\f1cc" } .fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before { content:"\f1cd" } .fa-circle-o-notch:before { content:"\f1ce" } .fa-ra:before, .fa-resistance:before, .fa-rebel:before { content:"\f1d0" } .fa-ge:before, .fa-empire:before { content:"\f1d1" } .fa-git-square:before { content:"\f1d2" } .fa-git:before { content:"\f1d3" } .fa-y-combinator-square:before, .fa-yc-square:before, .fa-hacker-news:before { content:"\f1d4" } .fa-tencent-weibo:before { content:"\f1d5" } .fa-qq:before { content:"\f1d6" } .fa-wechat:before, .fa-weixin:before { content:"\f1d7" } .fa-send:before, .fa-paper-plane:before { content:"\f1d8" } .fa-send-o:before, .fa-paper-plane-o:before { content:"\f1d9" } .fa-history:before { content:"\f1da" } .fa-circle-thin:before { content:"\f1db" } .fa-header:before { content:"\f1dc" } .fa-paragraph:before { content:"\f1dd" } .fa-sliders:before { content:"\f1de" } .fa-share-alt:before { content:"\f1e0" } 
.fa-share-alt-square:before { content:"\f1e1" } .fa-bomb:before { content:"\f1e2" } .fa-soccer-ball-o:before, .fa-futbol-o:before { content:"\f1e3" } .fa-tty:before { content:"\f1e4" } .fa-binoculars:before { content:"\f1e5" } .fa-plug:before { content:"\f1e6" } .fa-slideshare:before { content:"\f1e7" } .fa-twitch:before { content:"\f1e8" } .fa-yelp:before { content:"\f1e9" } .fa-newspaper-o:before { content:"\f1ea" } .fa-wifi:before { content:"\f1eb" } .fa-calculator:before { content:"\f1ec" } .fa-paypal:before { content:"\f1ed" } .fa-google-wallet:before { content:"\f1ee" } .fa-cc-visa:before { content:"\f1f0" } .fa-cc-mastercard:before { content:"\f1f1" } .fa-cc-discover:before { content:"\f1f2" } .fa-cc-amex:before { content:"\f1f3" } .fa-cc-paypal:before { content:"\f1f4" } .fa-cc-stripe:before { content:"\f1f5" } .fa-bell-slash:before { content:"\f1f6" } .fa-bell-slash-o:before { content:"\f1f7" } .fa-trash:before { content:"\f1f8" } .fa-copyright:before { content:"\f1f9" } .fa-at:before { content:"\f1fa" } .fa-eyedropper:before { content:"\f1fb" } .fa-paint-brush:before { content:"\f1fc" } .fa-birthday-cake:before { content:"\f1fd" } .fa-area-chart:before { content:"\f1fe" } .fa-pie-chart:before { content:"\f200" } .fa-line-chart:before { content:"\f201" } .fa-lastfm:before { content:"\f202" } .fa-lastfm-square:before { content:"\f203" } .fa-toggle-off:before { content:"\f204" } .fa-toggle-on:before { content:"\f205" } .fa-bicycle:before { content:"\f206" } .fa-bus:before { content:"\f207" } .fa-ioxhost:before { content:"\f208" } .fa-angellist:before { content:"\f209" } .fa-cc:before { content:"\f20a" } .fa-shekel:before, .fa-sheqel:before, .fa-ils:before { content:"\f20b" } .fa-meanpath:before { content:"\f20c" } .fa-buysellads:before { content:"\f20d" } .fa-connectdevelop:before { content:"\f20e" } .fa-dashcube:before { content:"\f210" } .fa-forumbee:before { content:"\f211" } .fa-leanpub:before { content:"\f212" } .fa-sellsy:before { content:"\f213" } .fa-shirtsinbulk:before { content:"\f214" } .fa-simplybuilt:before { content:"\f215" } .fa-skyatlas:before { content:"\f216" } .fa-cart-plus:before { content:"\f217" } .fa-cart-arrow-down:before { content:"\f218" } .fa-diamond:before { content:"\f219" } .fa-ship:before { content:"\f21a" } .fa-user-secret:before { content:"\f21b" } .fa-motorcycle:before { content:"\f21c" } .fa-street-view:before { content:"\f21d" } .fa-heartbeat:before { content:"\f21e" } .fa-venus:before { content:"\f221" } .fa-mars:before { content:"\f222" } .fa-mercury:before { content:"\f223" } .fa-intersex:before, .fa-transgender:before { content:"\f224" } .fa-transgender-alt:before { content:"\f225" } .fa-venus-double:before { content:"\f226" } .fa-mars-double:before { content:"\f227" } .fa-venus-mars:before { content:"\f228" } .fa-mars-stroke:before { content:"\f229" } .fa-mars-stroke-v:before { content:"\f22a" } .fa-mars-stroke-h:before { content:"\f22b" } .fa-neuter:before { content:"\f22c" } .fa-genderless:before { content:"\f22d" } .fa-facebook-official:before { content:"\f230" } .fa-pinterest-p:before { content:"\f231" } .fa-whatsapp:before { content:"\f232" } .fa-server:before { content:"\f233" } .fa-user-plus:before { content:"\f234" } .fa-user-times:before { content:"\f235" } .fa-hotel:before, .fa-bed:before { content:"\f236" } .fa-viacoin:before { content:"\f237" } .fa-train:before { content:"\f238" } .fa-subway:before { content:"\f239" } .fa-medium:before { content:"\f23a" } .fa-yc:before, .fa-y-combinator:before { content:"\f23b" } .fa-optin-monster:before { content:"\f23c" } .fa-opencart:before { content:"\f23d" } .fa-expeditedssl:before { content:"\f23e" } .fa-battery-4:before, .fa-battery:before, .fa-battery-full:before { content:"\f240" } .fa-battery-3:before, .fa-battery-three-quarters:before { content:"\f241" } .fa-battery-2:before, .fa-battery-half:before { content:"\f242" } .fa-battery-1:before, .fa-battery-quarter:before { content:"\f243" } .fa-battery-0:before, .fa-battery-empty:before { content:"\f244" } .fa-mouse-pointer:before { content:"\f245" } .fa-i-cursor:before { content:"\f246" } .fa-object-group:before { content:"\f247" } .fa-object-ungroup:before { content:"\f248" } .fa-sticky-note:before { content:"\f249" } .fa-sticky-note-o:before { content:"\f24a" } .fa-cc-jcb:before { content:"\f24b" } .fa-cc-diners-club:before { content:"\f24c" } .fa-clone:before { content:"\f24d" } .fa-balance-scale:before { content:"\f24e" } .fa-hourglass-o:before { content:"\f250" } .fa-hourglass-1:before, .fa-hourglass-start:before { content:"\f251" } .fa-hourglass-2:before, .fa-hourglass-half:before { content:"\f252" } .fa-hourglass-3:before, .fa-hourglass-end:before { content:"\f253" } .fa-hourglass:before { content:"\f254" } .fa-hand-grab-o:before, .fa-hand-rock-o:before { content:"\f255" } .fa-hand-stop-o:before, .fa-hand-paper-o:before { content:"\f256" } .fa-hand-scissors-o:before { content:"\f257" } .fa-hand-lizard-o:before { content:"\f258" } .fa-hand-spock-o:before { content:"\f259" } .fa-hand-pointer-o:before { content:"\f25a" } .fa-hand-peace-o:before { content:"\f25b" } .fa-trademark:before { content:"\f25c" } .fa-registered:before { content:"\f25d" } .fa-creative-commons:before { content:"\f25e" } .fa-gg:before { content:"\f260" } .fa-gg-circle:before { content:"\f261" } .fa-tripadvisor:before { content:"\f262" } .fa-odnoklassniki:before { content:"\f263" } .fa-odnoklassniki-square:before { content:"\f264" } .fa-get-pocket:before { content:"\f265" } .fa-wikipedia-w:before { content:"\f266" } .fa-safari:before { content:"\f267" } .fa-chrome:before { content:"\f268" } .fa-firefox:before { content:"\f269" } .fa-opera:before { content:"\f26a" } .fa-internet-explorer:before { content:"\f26b" } .fa-tv:before, .fa-television:before { content:"\f26c" } .fa-contao:before { content:"\f26d" } .fa-500px:before { content:"\f26e" } .fa-amazon:before { content:"\f270" } .fa-calendar-plus-o:before { content:"\f271" } .fa-calendar-minus-o:before { content:"\f272" } .fa-calendar-times-o:before { content:"\f273" } .fa-calendar-check-o:before { content:"\f274" } .fa-industry:before { content:"\f275" } .fa-map-pin:before { content:"\f276" } .fa-map-signs:before { content:"\f277" } .fa-map-o:before { content:"\f278" } .fa-map:before { content:"\f279" } .fa-commenting:before { content:"\f27a" } .fa-commenting-o:before { content:"\f27b" } .fa-houzz:before { content:"\f27c" } .fa-vimeo:before { content:"\f27d" } .fa-black-tie:before { content:"\f27e" } .fa-fonticons:before { content:"\f280" } .fa-reddit-alien:before { content:"\f281" } .fa-edge:before { content:"\f282" } .fa-credit-card-alt:before { content:"\f283" } .fa-codiepie:before { content:"\f284" } .fa-modx:before { content:"\f285" } .fa-fort-awesome:before { content:"\f286" } .fa-usb:before { content:"\f287" } .fa-product-hunt:before { content:"\f288" } .fa-mixcloud:before { content:"\f289" } .fa-scribd:before { content:"\f28a" } .fa-pause-circle:before { content:"\f28b" } .fa-pause-circle-o:before { content:"\f28c" } .fa-stop-circle:before { content:"\f28d" } .fa-stop-circle-o:before { content:"\f28e" } .fa-shopping-bag:before { content:"\f290" } .fa-shopping-basket:before { content:"\f291" } .fa-hashtag:before { content:"\f292" } .fa-bluetooth:before { content:"\f293" } .fa-bluetooth-b:before { content:"\f294" } .fa-percent:before { content:"\f295" } .fa-gitlab:before { content:"\f296" } .fa-wpbeginner:before { content:"\f297" } .fa-wpforms:before { content:"\f298" } .fa-envira:before { content:"\f299" } .fa-universal-access:before { content:"\f29a" } .fa-wheelchair-alt:before { content:"\f29b" } .fa-question-circle-o:before { content:"\f29c" } .fa-blind:before { content:"\f29d" } .fa-audio-description:before { content:"\f29e" } .fa-volume-control-phone:before { content:"\f2a0" } .fa-braille:before { content:"\f2a1" } .fa-assistive-listening-systems:before { content:"\f2a2" } .fa-asl-interpreting:before, .fa-american-sign-language-interpreting:before { content:"\f2a3" } .fa-deafness:before, .fa-hard-of-hearing:before, .fa-deaf:before { content:"\f2a4" } .fa-glide:before { content:"\f2a5" } .fa-glide-g:before { content:"\f2a6" } .fa-signing:before, .fa-sign-language:before { content:"\f2a7" } .fa-low-vision:before { content:"\f2a8" } .fa-viadeo:before { content:"\f2a9" } .fa-viadeo-square:before { content:"\f2aa" } .fa-snapchat:before { content:"\f2ab" } .fa-snapchat-ghost:before { content:"\f2ac" } .fa-snapchat-square:before { content:"\f2ad" } .fa-pied-piper:before { content:"\f2ae" } .fa-first-order:before { content:"\f2b0" } .fa-yoast:before { content:"\f2b1" } .fa-themeisle:before { content:"\f2b2" } .fa-google-plus-circle:before, .fa-google-plus-official:before { content:"\f2b3" } .fa-fa:before, .fa-font-awesome:before { content:"\f2b4" } .fa-handshake-o:before { content:"\f2b5" } .fa-envelope-open:before { content:"\f2b6" } .fa-envelope-open-o:before { content:"\f2b7" } .fa-linode:before { content:"\f2b8" } .fa-address-book:before { content:"\f2b9" } .fa-address-book-o:before { content:"\f2ba" } .fa-vcard:before, .fa-address-card:before { content:"\f2bb" } .fa-vcard-o:before, .fa-address-card-o:before { content:"\f2bc" } .fa-user-circle:before { content:"\f2bd" } .fa-user-circle-o:before { content:"\f2be" } .fa-user-o:before { content:"\f2c0" } .fa-id-badge:before { content:"\f2c1" } .fa-drivers-license:before, .fa-id-card:before { content:"\f2c2" } .fa-drivers-license-o:before, .fa-id-card-o:before { content:"\f2c3" } .fa-quora:before { content:"\f2c4" } .fa-free-code-camp:before { content:"\f2c5" } 
.fa-telegram:before { content:"\f2c6" } .fa-thermometer-4:before, .fa-thermometer:before, .fa-thermometer-full:before { content:"\f2c7" } .fa-thermometer-3:before, .fa-thermometer-three-quarters:before { content:"\f2c8" } .fa-thermometer-2:before, .fa-thermometer-half:before { content:"\f2c9" } .fa-thermometer-1:before, .fa-thermometer-quarter:before { content:"\f2ca" } .fa-thermometer-0:before, 
.fa-thermometer-empty:before { content:"\f2cb" } .fa-shower:before { content:"\f2cc" } .fa-bathtub:before, .fa-s15:before, .fa-bath:before { content:"\f2cd" } .fa-podcast:before { content:"\f2ce" } .fa-window-maximize:before { content:"\f2d0" } .fa-window-minimize:before { content:"\f2d1" } .fa-window-restore:before { content:"\f2d2" } .fa-times-rectangle:before, .fa-window-close:before { content:"\f2d3" } .fa-times-rectangle-o:before, .fa-window-close-o:before { content:"\f2d4" } .fa-bandcamp:before { content:"\f2d5" } .fa-grav:before { content:"\f2d6" } .fa-etsy:before { content:"\f2d7" } .fa-imdb:before { content:"\f2d8" } .fa-ravelry:before { content:"\f2d9" } .fa-eercast:before { content:"\f2da" } .fa-microchip:before { content:"\f2db" } .fa-snowflake-o:before{ content:"\f2dc" } .fa-superpowers:before { content:"\f2dd" } .fa-wpexplorer:before { content:"\f2de" } .fa-meetup:before { content:"\f2e0" }